html, 
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Source Code Pro", monospace;

}
.layout{
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas: 
    "nav"
    "img"
    "main"
    "view"
    "foot"
    ;
}
nav{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 2em;
    position: sticky;
    top: 0;
    background-color: rgb(226, 222, 222);
}
.top-container{
    display: flex;
    gap: 0.625px;
    margin: auto 0;
    padding-left: 3em;
}
nav a {
    color:black ;
    text-decoration: none;
}
.top-container h1{
    margin: auto;
}
i{
    font-size: 1.875rem;
    margin: auto;
    margin-right: 0.4em;
}
.nav-btns{
    list-style: none;
    display: flex;
    gap: 1.875rem;
    margin: auto 0;
    font-size: 1.25rem;
    font-weight: 600;
    margin-right: 3em;
   
}

.img-section{
    min-height: 50vh;
    grid-area: img;
    width: 100%;
    background-image: url('images/desk.webp');
    background-size:cover;
    background-position: center;
    color: #FFF;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.first-paragraph{
    width: 90%;
    margin:  0 auto;
    color: #FFF;
    margin-bottom: 5%;
    text-shadow: 2px 2px 1px rgb(2, 2, 2);
}
.paragraph{
    width: 40%;
}
date{
    font-size: 0.8rem;
}
.paragraph h1{
    font-size: 1.5rem;
}
.paragraph p{
    font-size: 0.8rem;
}
.paragraph p, h1{
    margin:0;
    margin-top: 0.4em;
}

.main-firstp{
    grid-area: main;
    width: 65%;
    margin: auto;
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
    gap: 3rem;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;

}
.container img{
    height:50%;
}
.container p{
    margin-top: 0.5em;
    margin-bottom: 0;
    color: #505050;
}

.container img{
    border-radius: 5px;
    width: 100%;
    margin: 0;
}
.container:hover{
    filter: brightness(0.9);
    box-shadow: 0 0 0 3px rgba(59, 57, 59, 0.5);
}

.view-more{
    grid-area: view;
    text-align: center;
    padding: 2em;
}
.view-more a{
    color: black;
    font-weight: 700;
}

footer{
    padding: 2em;
    min-height: 80px;
    grid-area: foot;
    background-color: #202020;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer h1{
    font-size: 1rem;
}
footer h1, p{
    margin: 0;
}
footer div{
    width:fit-content;
    height: fit-content;
    text-align: center;
}

@media (max-width: 500px) {
    nav{
        font-size: 0.5rem;
        padding: 0.8em;
    }
    .paragraph {
        width: 100%;
        margin-bottom: 10%;
    }
    i{
        font-size: 1rem;
    }
    nav{
        width: 100%;
    }
    .nav-btns{
        font-size: 1rem;
        gap: 1em;
    }

}

/* HOME PAGE */

.home-nav{
    grid-area: nav2;    
}
.main-home{
    grid-area: main2;
    width: 90%;
    margin: auto;
    border: 5px solid red;

}
.main-home img{

    width: 100%;
    border-radius: 5px;

}
.recent-posts{
    grid-area: post;
    width: 90%;
    margin: auto;
    display: grid;
    gap: 3rem;
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    border: 5px solid red;
}
.home-footer{
    grid-area: foot2;
}
.layout2{
    min-height:100vh ;
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas: 
    'nav2'
    'main2'
    'post'
    'foot2';
}
.recent-posts h3{
    margin: 2.5em auto 1em;
    grid-column-start: 1;
    grid-column-end: 4;
    
}


